html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 10px 10px 10px 15px;
}

.card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card-category {
    grid-column: 1 / 4;
    text-transform: capitalize;
}

.card-title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}
